<%- include('../header.ejs')%>
<!--------------------------------------
HEADER
--------------------------------------->
<div class="container" style="margin-top: 140px;">
  <div class="jumbotron jumbotron-fluid mb-3 pl-0 pt-0 pb-0 bg-white position-relative">
    <div class="h-100 tofront">
      <div class="row">
        <h1>The page is under construction</h1>
      </div>
    </div>
  </div>
</div>
<!--------------------------------------
FOOTER
--------------------------------------->
<%- include('../footer.ejs')%>