<!--------------------------------------
FOOTER
--------------------------------------->
<div class="jr js jt ju jv jw r">
  <div class="v w">
    <div class="x y z ab ac ae af r">
      <div class="v an ao es db">
        <div class="jx jq v ch jy">
          <div class="jz u"><svg width="35" height="35" viewBox="5 5 35 35" class="ka">
              <path
                d="M5 40V5h35v35H5zm8.56-12.63c0 .56-.03.69-.32 1.03L10.8 31.4v.4h6.97v-.4L15.3 28.4c-.29-.34-.34-.5-.34-1.03v-8.95l6.13 13.36h.71l5.26-13.36v10.64c0 .3 0 .35-.19.53l-1.85 1.8v.4h9.2v-.4l-1.83-1.8c-.18-.18-.2-.24-.2-.53V15.94c0-.3.02-.35.2-.53l1.82-1.8v-.4h-6.47l-4.62 11.55-5.2-11.54h-6.8v.4l2.15 2.63c.24.3.29.37.29.77v10.35z">
              </path>
            </svg></div>
          <div class="fv v ao db">
            <div class="ap u"><a href="/getstarted" class="el em ax ay az ba bb bc bd be en eo bh ep eq" rel="noopener">
                <h4 class="aq ar as at kb">Get started</h4>
              </a></div>
            <div class="ap u">
              <h4 class="aq ar as at kb"><a class="av aw ax ay az ba bb bc bd be kc kd bh ke kf" rel="noopener"
                  href="/membership">Subscribe</a></h4>
            </div>
            <div class="ap v ew">
              <h4 class="aq ar as at kg">Have an account?</h4><a href="/login"
                class="el em ax ay az ba bb bc bd be en eo bh ep eq" rel="noopener">
                <div class="kh u">
                  <h4 class="aq ar as at kb">Sign in</h4>
                </div>
              </a>
            </div>
          </div>
          <div class="v ao db">
            <div class="ap u ew">
              <h4 class="aq ar as at kb"><a class="av aw ax ay az ba bb bc bd be kc kd bh ke kf" rel="noopener"
                  href="/about">About Medium</a></h4>
            </div>
            <div class="ap u">
              <h4 class="aq ar as at kb"><a href="/write" class="av aw ax ay az ba bb bc bd be kc kd bh ke kf"
                  rel="noopener">Write</a></h4>
            </div>
            <div class="ap u">
              <h4 class="aq ar as at kb"><a href="/gift" class="av aw ax ay az ba bb bc bd be kc kd bh ke kf"
                  rel="noopener">Gift</a></h4>
            </div>
            <div class="ap u">
              <h4 class="aq ar as at kb"><a href="/help" class="av aw ax ay az ba bb bc bd be kc kd bh ke kf"
                  rel="noopener">Help</a></h4>
            </div>
            <div class="ap u ew">
              <h4 class="aq ar as at kb"><a class="av aw ax ay az ba bb bc bd be kc kd bh ke kf" rel="noopener"
                  href="/contact">Press Contacts</a></h4>
            </div>
            <div class="ap u">
              <h4 class="aq ar as at kb"><a class="av aw ax ay az ba bb bc bd be kc kd bh ke kf" rel="noopener"
                  href="/career">Careers</a>
              </h4>
            </div>
            <div class="ap u">
              <h4 class="aq ar as at kb"><a class="av aw ax ay az ba bb bc bd be kc kd bh ke kf" rel="noopener"
                  href="/policy">Legal</a></h4>
            </div>
          </div>
        </div>
        <div class="ki v ch">
          <div class="kj u kk">
            <h4 class="aq ar as at kg">Get the Medium app</h4>
          </div>
          <div class="v gg ch db kl ah">
            <div class="kj u km"><a
                href="https://itunes.apple.com/app/medium-everyones-stories/id828256236?pt=698524&amp;mt=8&amp;ct=landing_home&amp;source=landing_home---------------------------"
                class="av aw ax ay az ba bb bc bd be kc kd bh ke kf" rel="noopener nofollow"><img
                  alt="A button that says 'Download on the App Store', and if clicked it will lead you to the iOS App store"
                  class="" src="https://miro.medium.com/max/270/1*M2FVPPidy2x386MRAE-EeA.png" width="135"
                  height="41"></a></div>
            <div class="kj u"><a
                href="https://play.google.com/store/apps/details?id=com.medium.reader&amp;source=landing_home---------------------------"
                class="av aw ax ay az ba bb bc bd be kc kd bh ke kf" rel="noopener nofollow"><img
                  alt="A button that says 'Get it on, Google Play', and if clicked it will lead you to the Google Play store"
                  class="" src="https://miro.medium.com/max/270/1*HyH8oIcJvXp7xzu5oF6dTg.png" width="135"
                  height="41"></a></div>
          </div>
        </div>
        <div class="kn r u">
          <h4 class="aq ar ko bz kg">©
            <!-- -->2020
            <!-- --> A Medium Corporation</h4>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Footer -->

<!--------------------------------------
JAVASCRIPTS
--------------------------------------->
<script src="/assets/js/vendor/jquery.min.js" type="text/javascript"></script>
<script src="/assets/js/vendor/popper.min.js" type="text/javascript"></script>
<script src="/assets/js/vendor/bootstrap.min.js" type="text/javascript"></script>
<script src="/assets/js/functions.js" type="text/javascript"></script>
</body>

</html>