<%- include('./indexHeader.ejs')%>
<!--------------------------------------
 MAIN
--------------------------------------->
<div class="l m n o p q r s"></div>
<div class="container" style="margin-top: 50px;">
  <div class="x y z ab ac ae af r">
    <div class="v an ch w cf">
      <div class="kr" id="lo-homepage-hero-title">
        <div class="ci cj u ck cl">
          <h2 class="cm cn co cp cq cr cs ct cu cv cw cx au" data-optly-e695de27-c8a6-4b73-a431-d2c20e10db4a="">Dive
            deeper on topics that matter to you.</h2>
          <h2 class="aq dv dw dx dy dz ea eb ec ed ee ef au" data-optly-b0db9998-9d5d-4e26-b242-3aab57f42fd8=""
            data-optly-b0db9998-9d5d-4e26-b242-3aab57f42fd8-rearrange="" style="margin-top: 20px;">
            <div class="kr" id="lo-homepage-select-pubtopics-cta-text">Select what you're into. We'll help you find
              great things to read.</div>
          </h2>
        </div>
      </div>
      <div class="cy cz da v w db dc dd">
        <div class="an de df dg dh di dj dk aq b by dl dm cb dn do be">
          <div class="df dp v dq"><svg width="30" height="30" viewBox="0 0 30 30" fill="none">
              <circle cx="15" cy="15" r="15" fill="#1E1B1D"></circle>
              <path
                d="M10.78 21h1.73l.73-3.2h2.24l-.74 3.2h1.76l.72-3.2h3.3v-1.6H17.6l.54-2.4H21v-1.6h-2.5l.72-3.2h-1.73l-.73 3.2h-2.24l.74-3.2H13.5l-.73 3.2H9.5v1.6h2.93l-.56 2.4H9v1.6h2.52l-.74 3.2zm2.83-4.8l.54-2.4h2.24l-.54 2.4H13.6z"
                fill="#fff"></path>
            </svg></div>Future
        </div>
        <div class="an de df dg dh di dj dk aq b by dl dm cb dn do be"><img alt="OneZero logo" class="v df dr ds dp dq"
            src="https://miro.medium.com/fit/c/60/60/1*88Z0O0wD4KOrk6Y5EceZog.png" width="30" height="30">OneZero</div>
        <div class="an de df dg dh di dj dk aq b by dl dm cb dn do be">
          <div class="df dp v dq"><svg width="30" height="30" viewBox="0 0 30 30" fill="none">
              <circle cx="15" cy="15" r="15" fill="#1E1B1D"></circle>
              <path
                d="M10.78 21h1.73l.73-3.2h2.24l-.74 3.2h1.76l.72-3.2h3.3v-1.6H17.6l.54-2.4H21v-1.6h-2.5l.72-3.2h-1.73l-.73 3.2h-2.24l.74-3.2H13.5l-.73 3.2H9.5v1.6h2.93l-.56 2.4H9v1.6h2.52l-.74 3.2zm2.83-4.8l.54-2.4h2.24l-.54 2.4H13.6z"
                fill="#fff"></path>
            </svg></div>Technology
        </div>
        <div class="an de df dg dh di dj dk aq b by dl dm cb dn do be"><img alt="Elemental logo"
            class="v df dr ds dp dq" src="https://miro.medium.com/fit/c/60/60/1*GhG8ZeoE0TGfCHwL9SCrfw.png" width="30"
            height="30">Elemental</div>
        <div class="an de df dg dh di dj dk aq b by dl dm cb dn do be">
          <div class="df dp v dq"><svg width="30" height="30" viewBox="0 0 30 30" fill="none">
              <circle cx="15" cy="15" r="15" fill="#1E1B1D"></circle>
              <path
                d="M10.78 21h1.73l.73-3.2h2.24l-.74 3.2h1.76l.72-3.2h3.3v-1.6H17.6l.54-2.4H21v-1.6h-2.5l.72-3.2h-1.73l-.73 3.2h-2.24l.74-3.2H13.5l-.73 3.2H9.5v1.6h2.93l-.56 2.4H9v1.6h2.52l-.74 3.2zm2.83-4.8l.54-2.4h2.24l-.54 2.4H13.6z"
                fill="#fff"></path>
            </svg></div>Health
        </div>
        <div class="an de df dg dh di dj dk aq b by dl dm cb dn do be">
          <div class="df dp v dq"><svg width="30" height="30" viewBox="0 0 30 30" fill="none">
              <circle cx="15" cy="15" r="15" fill="#1E1B1D"></circle>
              <path
                d="M10.78 21h1.73l.73-3.2h2.24l-.74 3.2h1.76l.72-3.2h3.3v-1.6H17.6l.54-2.4H21v-1.6h-2.5l.72-3.2h-1.73l-.73 3.2h-2.24l.74-3.2H13.5l-.73 3.2H9.5v1.6h2.93l-.56 2.4H9v1.6h2.52l-.74 3.2zm2.83-4.8l.54-2.4h2.24l-.54 2.4H13.6z"
                fill="#fff"></path>
            </svg></div>Science
        </div>
        <div class="an de df dg dh di dj dk aq b by dl dm cb dn do be"><img alt="GEN logo" class="v df dr ds dp dq"
            src="https://miro.medium.com/fit/c/60/60/1*AQbRi7322aPUWTzp_zOhTg.png" width="30" height="30">GEN</div>
        <div class="an de df dg dh di dj dk aq b by dl dm cb dn do be">
          <div class="df dp v dq"><svg width="30" height="30" viewBox="0 0 30 30" fill="none">
              <circle cx="15" cy="15" r="15" fill="#1E1B1D"></circle>
              <path
                d="M10.78 21h1.73l.73-3.2h2.24l-.74 3.2h1.76l.72-3.2h3.3v-1.6H17.6l.54-2.4H21v-1.6h-2.5l.72-3.2h-1.73l-.73 3.2h-2.24l.74-3.2H13.5l-.73 3.2H9.5v1.6h2.93l-.56 2.4H9v1.6h2.52l-.74 3.2zm2.83-4.8l.54-2.4h2.24l-.54 2.4H13.6z"
                fill="#fff"></path>
            </svg></div>Business
        </div>
        <div class="an de df dg dh di dj dk aq b by dl dm cb dn do be"><img alt="Marker logo" class="v df dr ds dp dq"
            src="https://miro.medium.com/fit/c/60/60/1*vmNmnbAOxsvAZ5BLilfFJQ.png" width="30" height="30">Marker</div>
        <div class="an de df dg dh di dj dk aq b by dl dm cb dn do be">
          <div class="df dp v dq"><svg width="30" height="30" viewBox="0 0 30 30" fill="none">
              <circle cx="15" cy="15" r="15" fill="#1E1B1D"></circle>
              <path
                d="M10.78 21h1.73l.73-3.2h2.24l-.74 3.2h1.76l.72-3.2h3.3v-1.6H17.6l.54-2.4H21v-1.6h-2.5l.72-3.2h-1.73l-.73 3.2h-2.24l.74-3.2H13.5l-.73 3.2H9.5v1.6h2.93l-.56 2.4H9v1.6h2.52l-.74 3.2zm2.83-4.8l.54-2.4h2.24l-.54 2.4H13.6z"
                fill="#fff"></path>
            </svg></div>Work
        </div>
        <div class="an de df dg dh di dj dk aq b by dl dm cb dn do be">
          <div class="df dp v dq"><svg width="30" height="30" viewBox="0 0 30 30" fill="none">
              <circle cx="15" cy="15" r="15" fill="#1E1B1D"></circle>
              <path
                d="M10.78 21h1.73l.73-3.2h2.24l-.74 3.2h1.76l.72-3.2h3.3v-1.6H17.6l.54-2.4H21v-1.6h-2.5l.72-3.2h-1.73l-.73 3.2h-2.24l.74-3.2H13.5l-.73 3.2H9.5v1.6h2.93l-.56 2.4H9v1.6h2.52l-.74 3.2zm2.83-4.8l.54-2.4h2.24l-.54 2.4H13.6z"
                fill="#fff"></path>
            </svg></div>Culture
        </div>
        <div class="an de df dg dh di dj dk aq b by dl dm cb dn do be"><img alt="ZORA logo" class="v df dr ds dp dq"
            src="https://miro.medium.com/fit/c/60/60/1*VJ4zcLDMISZjqlnuj55WXA.png" width="30" height="30">ZORA</div>
        <div class="an de df dg dh di dj dk aq b by dl dm cb dn do be"><img alt="Tenderly logo" class="v df dr ds dp dq"
            src="https://miro.medium.com/fit/c/60/60/1*T-4t9N3IlJd-aNzk_thAWA.png" width="30" height="30">Tenderly</div>
        <div class="an de df dg dh di dj dk aq b by dl dm cb dn do be">
          <div class="df dp v dq"><svg width="30" height="30" viewBox="0 0 30 30" fill="none">
              <circle cx="15" cy="15" r="15" fill="#1E1B1D"></circle>
              <path
                d="M10.78 21h1.73l.73-3.2h2.24l-.74 3.2h1.76l.72-3.2h3.3v-1.6H17.6l.54-2.4H21v-1.6h-2.5l.72-3.2h-1.73l-.73 3.2h-2.24l.74-3.2H13.5l-.73 3.2H9.5v1.6h2.93l-.56 2.4H9v1.6h2.52l-.74 3.2zm2.83-4.8l.54-2.4h2.24l-.54 2.4H13.6z"
                fill="#fff"></path>
            </svg></div>Food
        </div>
        <div class="an de df dg dh di dj dk aq b by dl dm cb dn do be"><img alt="Heated logo" class="v df dr ds dp dq"
            src="https://miro.medium.com/fit/c/60/60/1*E_tHdfYfWGRpusAcOtDX7A.png" width="30" height="30">Heated</div>
        <div class="an de df dg dh di dj dk aq b by dl dm cb dn do be">
          <div class="df dp v dq"><svg width="30" height="30" viewBox="0 0 30 30" fill="none">
              <circle cx="15" cy="15" r="15" fill="#1E1B1D"></circle>
              <path
                d="M10.78 21h1.73l.73-3.2h2.24l-.74 3.2h1.76l.72-3.2h3.3v-1.6H17.6l.54-2.4H21v-1.6h-2.5l.72-3.2h-1.73l-.73 3.2h-2.24l.74-3.2H13.5l-.73 3.2H9.5v1.6h2.93l-.56 2.4H9v1.6h2.52l-.74 3.2zm2.83-4.8l.54-2.4h2.24l-.54 2.4H13.6z"
                fill="#fff"></path>
            </svg></div>Programming
        </div>
        <div class="an de df dg dh di dj dk aq b by dl dm cb dn do be">
          <div class="df dp v dq"><svg width="30" height="30" viewBox="0 0 30 30" fill="none">
              <circle cx="15" cy="15" r="15" fill="#1E1B1D"></circle>
              <path
                d="M10.78 21h1.73l.73-3.2h2.24l-.74 3.2h1.76l.72-3.2h3.3v-1.6H17.6l.54-2.4H21v-1.6h-2.5l.72-3.2h-1.73l-.73 3.2h-2.24l.74-3.2H13.5l-.73 3.2H9.5v1.6h2.93l-.56 2.4H9v1.6h2.52l-.74 3.2zm2.83-4.8l.54-2.4h2.24l-.54 2.4H13.6z"
                fill="#fff"></path>
            </svg></div>Design
        </div>
        <div class="an de df dg dh di dj dk aq b by dl dm cb dn do be">
          <div class="df dp v dq"><svg width="30" height="30" viewBox="0 0 30 30" fill="none">
              <circle cx="15" cy="15" r="15" fill="#1E1B1D"></circle>
              <path
                d="M10.78 21h1.73l.73-3.2h2.24l-.74 3.2h1.76l.72-3.2h3.3v-1.6H17.6l.54-2.4H21v-1.6h-2.5l.72-3.2h-1.73l-.73 3.2h-2.24l.74-3.2H13.5l-.73 3.2H9.5v1.6h2.93l-.56 2.4H9v1.6h2.52l-.74 3.2zm2.83-4.8l.54-2.4h2.24l-.54 2.4H13.6z"
                fill="#fff"></path>
            </svg></div>LGBTQIA
        </div>
        <div class="an de df dg dh di dj dk aq b by dl dm cb dn do be">
          <div class="df dp v dq"><svg width="30" height="30" viewBox="0 0 30 30" fill="none">
              <circle cx="15" cy="15" r="15" fill="#1E1B1D"></circle>
              <path
                d="M10.78 21h1.73l.73-3.2h2.24l-.74 3.2h1.76l.72-3.2h3.3v-1.6H17.6l.54-2.4H21v-1.6h-2.5l.72-3.2h-1.73l-.73 3.2h-2.24l.74-3.2H13.5l-.73 3.2H9.5v1.6h2.93l-.56 2.4H9v1.6h2.52l-.74 3.2zm2.83-4.8l.54-2.4h2.24l-.54 2.4H13.6z"
                fill="#fff"></path>
            </svg></div>Neuroscience
        </div>
        <div class="an de df dg dh di dj dk aq b by dl dm cb dn do be"><img alt="Modus logo" class="v df dr ds dp dq"
            src="https://miro.medium.com/fit/c/60/60/1*m1LdV5fylqvlNMG0qhPK-Q.png" width="30" height="30">Modus</div>
        <div class="an de df dg dh di dj dk aq b by dl dm cb dn do be">
          <div class="df dp v dq"><svg width="30" height="30" viewBox="0 0 30 30" fill="none">
              <circle cx="15" cy="15" r="15" fill="#1E1B1D"></circle>
              <path
                d="M10.78 21h1.73l.73-3.2h2.24l-.74 3.2h1.76l.72-3.2h3.3v-1.6H17.6l.54-2.4H21v-1.6h-2.5l.72-3.2h-1.73l-.73 3.2h-2.24l.74-3.2H13.5l-.73 3.2H9.5v1.6h2.93l-.56 2.4H9v1.6h2.52l-.74 3.2zm2.83-4.8l.54-2.4h2.24l-.54 2.4H13.6z"
                fill="#fff"></path>
            </svg></div>Politics
        </div>
        <div class="an de df dg dh di dj dk aq b by dl dm cb dn do be">
          <div class="df dp v dq"><svg width="30" height="30" viewBox="0 0 30 30" fill="none">
              <circle cx="15" cy="15" r="15" fill="#1E1B1D"></circle>
              <path
                d="M10.78 21h1.73l.73-3.2h2.24l-.74 3.2h1.76l.72-3.2h3.3v-1.6H17.6l.54-2.4H21v-1.6h-2.5l.72-3.2h-1.73l-.73 3.2h-2.24l.74-3.2H13.5l-.73 3.2H9.5v1.6h2.93l-.56 2.4H9v1.6h2.52l-.74 3.2zm2.83-4.8l.54-2.4h2.24l-.54 2.4H13.6z"
                fill="#fff"></path>
            </svg></div>Relationships
        </div>
        <div class="an de df dg dh di dj dk aq b by dl dm cb dn do be"><img alt="Human Parts logo"
            class="v df dr ds dp dq" src="https://miro.medium.com/fit/c/60/60/1*pfjoZOu08t9b-HHXv68ETg.png" width="30"
            height="30">Human Parts</div>
        <div class="an de df dg dh di dj dk aq b by dl dm cb dn do be">
          <div class="df dp v dq"><svg width="30" height="30" viewBox="0 0 30 30" fill="none">
              <circle cx="15" cy="15" r="15" fill="#1E1B1D"></circle>
              <path
                d="M10.78 21h1.73l.73-3.2h2.24l-.74 3.2h1.76l.72-3.2h3.3v-1.6H17.6l.54-2.4H21v-1.6h-2.5l.72-3.2h-1.73l-.73 3.2h-2.24l.74-3.2H13.5l-.73 3.2H9.5v1.6h2.93l-.56 2.4H9v1.6h2.52l-.74 3.2zm2.83-4.8l.54-2.4h2.24l-.54 2.4H13.6z"
                fill="#fff"></path>
            </svg></div>Self
        </div>
        <div class="an de df dg dh di dj dk aq b by dl dm cb dn do be">
          <div class="df dp v dq"><svg width="30" height="30" viewBox="0 0 30 30" fill="none">
              <circle cx="15" cy="15" r="15" fill="#1E1B1D"></circle>
              <path
                d="M10.78 21h1.73l.73-3.2h2.24l-.74 3.2h1.76l.72-3.2h3.3v-1.6H17.6l.54-2.4H21v-1.6h-2.5l.72-3.2h-1.73l-.73 3.2h-2.24l.74-3.2H13.5l-.73 3.2H9.5v1.6h2.93l-.56 2.4H9v1.6h2.52l-.74 3.2zm2.83-4.8l.54-2.4h2.24l-.54 2.4H13.6z"
                fill="#fff"></path>
            </svg></div>Startups
        </div>
        <div class="an de df dg dh di dj dk aq b by dl dm cb dn do be">
          <div class="df dp v dq"><svg width="30" height="30" viewBox="0 0 30 30" fill="none">
              <circle cx="15" cy="15" r="15" fill="#1E1B1D"></circle>
              <path
                d="M10.78 21h1.73l.73-3.2h2.24l-.74 3.2h1.76l.72-3.2h3.3v-1.6H17.6l.54-2.4H21v-1.6h-2.5l.72-3.2h-1.73l-.73 3.2h-2.24l.74-3.2H13.5l-.73 3.2H9.5v1.6h2.93l-.56 2.4H9v1.6h2.52l-.74 3.2zm2.83-4.8l.54-2.4h2.24l-.54 2.4H13.6z"
                fill="#fff"></path>
            </svg></div>Cryptocurrency
        </div>
        <div class="an de df dg dh di dj dk aq b by dl dm cb dn do be"><img alt="Forge logo" class="v df dr ds dp dq"
            src="https://miro.medium.com/fit/c/60/60/1*y3pfOGWJhLH7z4Thm97MkQ.png" width="30" height="30">Forge</div>
        <div class="an de df dg dh di dj dk aq b by dl dm cb dn do be">
          <div class="df dp v dq"><svg width="30" height="30" viewBox="0 0 30 30" fill="none">
              <circle cx="15" cy="15" r="15" fill="#1E1B1D"></circle>
              <path
                d="M10.78 21h1.73l.73-3.2h2.24l-.74 3.2h1.76l.72-3.2h3.3v-1.6H17.6l.54-2.4H21v-1.6h-2.5l.72-3.2h-1.73l-.73 3.2h-2.24l.74-3.2H13.5l-.73 3.2H9.5v1.6h2.93l-.56 2.4H9v1.6h2.52l-.74 3.2zm2.83-4.8l.54-2.4h2.24l-.54 2.4H13.6z"
                fill="#fff"></path>
            </svg></div>Data Science
        </div>
        <div class="an de df dg dh di dj dk aq b by dl dm cb dn do be">
          <div class="df dp v dq"><svg width="30" height="30" viewBox="0 0 30 30" fill="none">
              <circle cx="15" cy="15" r="15" fill="#1E1B1D"></circle>
              <path
                d="M10.78 21h1.73l.73-3.2h2.24l-.74 3.2h1.76l.72-3.2h3.3v-1.6H17.6l.54-2.4H21v-1.6h-2.5l.72-3.2h-1.73l-.73 3.2h-2.24l.74-3.2H13.5l-.73 3.2H9.5v1.6h2.93l-.56 2.4H9v1.6h2.52l-.74 3.2zm2.83-4.8l.54-2.4h2.24l-.54 2.4H13.6z"
                fill="#fff"></path>
            </svg></div>Productivity
        </div>
        <div class="an de df dg dh di dj dk aq b by dl dm cb dn do be">
          <div class="df dp v dq"><svg width="30" height="30" viewBox="0 0 30 30" fill="none">
              <circle cx="15" cy="15" r="15" fill="#1E1B1D"></circle>
              <path
                d="M10.78 21h1.73l.73-3.2h2.24l-.74 3.2h1.76l.72-3.2h3.3v-1.6H17.6l.54-2.4H21v-1.6h-2.5l.72-3.2h-1.73l-.73 3.2h-2.24l.74-3.2H13.5l-.73 3.2H9.5v1.6h2.93l-.56 2.4H9v1.6h2.52l-.74 3.2zm2.83-4.8l.54-2.4h2.24l-.54 2.4H13.6z"
                fill="#fff"></path>
            </svg></div>Artificial Intelligence
        </div>
        <div class="an de df dg dh di dj dk aq b by dl dm cb dn do be">
          <div class="df dp v dq"><svg width="30" height="30" viewBox="0 0 30 30" fill="none">
              <circle cx="15" cy="15" r="15" fill="#1E1B1D"></circle>
              <path
                d="M10.78 21h1.73l.73-3.2h2.24l-.74 3.2h1.76l.72-3.2h3.3v-1.6H17.6l.54-2.4H21v-1.6h-2.5l.72-3.2h-1.73l-.73 3.2h-2.24l.74-3.2H13.5l-.73 3.2H9.5v1.6h2.93l-.56 2.4H9v1.6h2.52l-.74 3.2zm2.83-4.8l.54-2.4h2.24l-.54 2.4H13.6z"
                fill="#fff"></path>
            </svg></div>Election 2020
        </div>
      </div>
      <div>
        <div class="dt du u">
          <div class="kr" id="lo-homepage-select-pubtopics-cta"></div>
          <div class="eg u">
            <div class="kr" id="lo-homepage-select-what-get-started-button"><a href="/login"
                class="av aw ax ay az ba bb bc bd be bf bg bh bi bj" rel="noopener">
                <div class="kr" id="lo-homepage-get-started-button">
                  <div class="bn bo bp bq br bs bt bu bv bw bx be aq b by eh dm cb cc ei ce cf cg ej">Get started
                  </div>
                </div>
              </a></div>
          </div>
          <div class="ek u">
            <h4 class="aq ar as at au">Already have an account?
              <!-- --> <a href="/login" class="el em ax ay az ba bb bc bd be en eo bh ep eq" rel="noopener">Sign in.</a>
            </h4>
          </div>
        </div>
      </div>
      <div class="kr" id="lo-homepage-all-on-medium-section">
        <div class="er r v ao es db et eu">
          <div class="ev v ew"><svg width="28" height="28" viewBox="0 0 28 28" fill="transparent"
              class="em ex ey ez fa">
              <circle cx="14" cy="14" r="14"></circle>
              <path d="M8 14.5l4.73 3.66 7.76-9.87" stroke="#fff" stroke-width="3"></path>
            </svg>
            <div class="fb h">
              <h3 class="aq ar dw fc dy fd fe ff fg fh fi fj dg">
                <div class="kr" id="lo-homepage-checkbox-1">World-class publications.</div>
              </h3>
            </div>
            <div class="ak fk">
              <h4 class="aq ar as at au">
                <div class="kr" id="lo-homepage-checkbox-1">World-class publications.</div>
              </h4>
            </div>
          </div>
          <div class="ev v ew"><svg width="28" height="28" viewBox="0 0 28 28" fill="transparent"
              class="em ex ey ez fa">
              <circle cx="14" cy="14" r="14"></circle>
              <path d="M8 14.5l4.73 3.66 7.76-9.87" stroke="#fff" stroke-width="3"></path>
            </svg>
            <div class="fb h">
              <h3 class="aq ar dw fc dy fd fe ff fg fh fi fj dg">
                <div class="kr" id="lo-homepage-checkbox-2">Undiscovered voices.</div>
              </h3>
            </div>
            <div class="ak fk">
              <h4 class="aq ar as at au">
                <div class="kr" id="lo-homepage-checkbox-2">Undiscovered voices.</div>
              </h4>
            </div>
          </div>
          <div class="ev v ew"><svg width="28" height="28" viewBox="0 0 28 28" fill="transparent"
              class="em ex ey ez fa">
              <circle cx="14" cy="14" r="14"></circle>
              <path d="M8 14.5l4.73 3.66 7.76-9.87" stroke="#fff" stroke-width="3"></path>
            </svg>
            <div class="fb h">
              <h3 class="aq ar dw fc dy fd fe ff fg fh fi fj dg">
                <div class="kr" id="lo-homepage-checkbox-3">Topics you love.</div>
              </h3>
            </div>
            <div class="ak fk">
              <h4 class="aq ar as at au">
                <div class="kr" id="lo-homepage-checkbox-3">Topics you love.</div>
              </h4>
            </div>
          </div>
          <div class="fl fm u fn ew fo fp fq fr">
            <h2 class="aq dv dw dx dy dz ea eb ec ed ee ef au">
              <div class="kr" id="lo-homepage-checkbox-after-text">All on Medium, all for you.</div>
            </h2>
          </div>
        </div>
      </div>

      <div>
        <div class="kr" id="lo-homepage-expand-your-x-section">
          <div class="hk jo u jp">
            <h2 class="cm cn co cp cq cr cs ct gc gd ge gf au">
              <div class="kr" id="lo-homepage-expand-your-reading">Expand your reading. <br> Expand your mind.</div>
            </h2>
            <div class="jq u jp">
              <div class="kr" id="lo-homepage-expand-your-x-get-started-button"><a href="/login"
                  class="av aw ax ay az ba bb bc bd be bf bg bh bi bj" rel="noopener">
                  <div class="kr" id="lo-homepage-get-started-button">
                    <div class="bn bo bp bq br bs bt bu bv bw bx be aq b by eh dm cb cc ei ce cf cg ej">Get started
                    </div>
                  </div>
                </a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include('./footer.ejs')%>