
@media screen and (min-width: 1080px) {
}
.jr {
  background-color: rgba(0, 0, 0, 1);
}
.jw {
    margin-top: 85px;
}
.r {
  width: 100%;
}
*, *:before, *:after {
  box-sizing: inherit;
}

 
.b {
  font-weight: 400;
}
.w {
  justify-content: center;
}
.v {
  display: flex;
}
.a {
  font-family: medium-content-sans-serif-font, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.ac {
  margin: 0 64px;
}
.af {
  min-width: 0;
}
.ae {
  max-width: 1192px;
}
.r {
  width: 100%;
}
.es {
  justify-content: space-between;
}
.db {
  flex-wrap: wrap;
}
.ao {
  flex-direction: row;
}
.an {
  align-items: center;
}
.v {
  display: flex;
}

.jx {
  margin-bottom: 19px;
}
.jq {
  margin-top: 50px;
}
.ch {
  flex-direction: column;
}

.jz {
  margin-bottom: 20px;
}
.u {
  display: block;
}
.fv {
  margin-bottom: 13px;
}
.db {
  flex-wrap: wrap;
}
.ao {
  flex-direction: row;
}
.v {
  display: flex;
}
.ap {
  margin-right: 30px;
}
.u {
  display: block;
}
.ew {
  white-space: nowrap;
}
.ap {
  margin-right: 30px;
}
.db {
  flex-wrap: wrap;
}
.ao {
  flex-direction: row;
}
.v {
  display: flex;
}
.ki {
  min-width: 150px;
}
.ch {
  flex-direction: column;
}
.kn {
  margin-bottom: 60px;
}
.gg {
  align-items: flex-end;
}
.kg {
  color: rgba(255, 255, 255, 0.6);
}
.at {
  line-height: 24px;
}
.as {
  font-size: 18px;
}
.ar {
  font-weight: 300;
}
.aq {
  font-family: medium-content-sans-serif-font, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif;
}

.ko {
  font-size: 15px;
}
.kg {
  color: rgba(255, 255, 255, 0.6);
}
.bz {
  line-height: 20px;
}
.ar {
  font-weight: 300;
}
.aq {
  font-family: medium-content-sans-serif-font, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif;
}
.ka {
  fill: rgba(255, 255, 255, 0.9);
}
.kb {
  color: rgba(255, 255, 255, 0.95);
}
a, button, input {
  -webkit-tap-highlight-color: transparent;
}

.dn {
  display: inline-flex;
}
.dm {
  font-size: 24px;
}
.dl {
  line-height: 32px;
}
.dk {
  padding-right: 12px;
}
.dj {
  padding: 6px;
}
.di {
  margin: 5px;
}
.dh {
  height: 42px;
}
.dg {
  color: rgba(117, 117, 117, 1);
}
.df {
  border-radius: 99em;
}
.de {
  background-color: rgba(242, 242, 242, 1);
}
.cb {
  letter-spacing: 0px;
}
.by {
  font-style: normal;
}
.aq {
  font-family: medium-content-sans-serif-font, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif;
}
.an {
  align-items: center;
}
.b {
  font-weight: 400;
}

.cw {
  font-size: 85px;
}
.cn {
  font-weight: 500;
}
.cm {
  font-family: medium-marketing-display-font, Georgia, Cambria, "Times New Roman", Times, serif;
}
.au {
  color: rgba(41, 41, 41, 1);
}
.cf {
  text-align: center;
}
.kr {
  visibility: visible;
}
