.metabar {
  position: absolute;
  display: block;
  z-index: 500;
  width: 100%;
  font-size: 16px;
  background: #fff;
  color: rgba(0,0,0,.54);
  font-family: medium-content-sans-serif-font,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
  letter-spacing: 0;
  font-weight: 400;
  font-style: normal;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  top: 0;
}

.button--withChrome.button--small {
  height: 32px;
  line-height: 32px;
  padding: 0 14px;
}
.buttonSet--wide>.button, .buttonSet--wide>.buttonSet-buttonWrapper {
  margin-right: 16px;
}
.buttonSet>.button, .buttonSet>.buttonSet-buttonWrapper {
  margin-right: 8px;
  display: inline-block;
  vertical-align: middle;
}
.button--upsellNav {
  color: rgba(0,0,0,.84);
  border-color: rgba(0,0,0,.54);
}

.button, .button .svgIcon {
  -webkit-transition: .1s background-color,.1s border-color,.1s color,.1s fill;
  transition: .1s background-color,.1s border-color,.1s color,.1s fill;
}

.button {
  display: inline-block;
  position: relative;
  color: rgba(0,0,0,.54);
  background: rgba(0,0,0,0);
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  vertical-align: bottom;
  white-space: nowrap;
  text-rendering: auto;
  /* -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none; */
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: medium-content-sans-serif-font,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
  letter-spacing: 0;
  font-weight: 400;
  font-style: normal;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga" on;
}
.avatar {
  display: block;
  white-space: nowrap;
  overflow: visible;
  text-overflow: ellipsis;
  line-height: normal;
  position: relative;
}