<%- include('./header.ejs')%>
<%- include('./flash.ejs')%>
<br>

<form method="POST">
  <!-- <input type="hidden" name="_csrf" /> -->
  <div class="form-group" style="margin-left: 5px;">
    <label>Category Code:</label>
    <input class="form-control" name="CategoryCode" type="text" />
  </div>
  <div class="form-group" style="margin-left: 5px;">
    <label>Category Name:</label>
    <input class="form-control" name="CategoryName" type="text" />
  </div>
  <input class="btn btn-default" style="margin-left: 5px;" name="submit" type="submit" value="Save" />
</form>
<%- include('./footer.ejs')%>