<%-include('./header.ejs')%>
<!-- Main Content -->
<!-- Begin Page Content -->
<div class="container-fluid">
  <!-- Page Heading -->
  <h1 class="h3 mb-2 text-gray-800">User » Change Password</h1>
  <div style="margin-top: 50px;">
  </div>
  <!-- DataTales Example -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">User List | <a href="/admin/listuser">List Categories</a>
      </h6>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <form method="POST">
          <div class="u-width100pct u-maxWidth300 u-marginAuto u-xs-widthAuto js-loginOptions">
            <%- include('./flash.ejs')%>
            <div class="form-group">
              <label for="xx">Email</label>
              <input type="text" name="Email" disabled='disabled' size="200" value="<%=locals.user.email%>"
                class="form-control form-control-user" />
            </div>
            <div class="form-group">
              <label for="xx">Password</label>
              <input type="password" name="password" size="200" minlength="6" name='password' required="true"
                placeholder="Input Password" class="form-control form-control-user" />
            </div>
            <div class="form-group">
              <label for="xx">Confirm Password </label>
              <input type="password" name="confirmPassword" minlength="6" size="200" required="true"
                placeholder="Input Password confirm" class="form-control form-control-user" />
            </div>
            <div class="form-group">
              <button type="submit" style=" float: left;width: 345px;" class="btn btn-primary btn-user btn-block">
                <span class="button-label  js-buttonLabel"><i class="fa fa-plus">&nbsp;</i>Add New</span></button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- End of Main Content -->
<%-include('./footer.ejs')%>